<!DOCTYPE html>
<html>
<head>
<title>HS Forgot Password</title>
<meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/teacher_log_style.css') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>




<div class="login" style="height:800px;">
       <h2 style="text-align: center;">HS Forgot Password</h2><br>
       {% with messages=get_flashed_messages()%}
    {% if messages %}
    
    {% for message in messages %}
    <div class="" style="padding: 10px; color: white; border:3px;">
        <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  -->
         {{message}}.
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
      <form action="" method="post" style="border-radius: 15px 15px 0px 0px;">
        <div class="container">
            <label for="uname"><b>Email Id</b></label>
            <input style="border-radius: 15px 15px 15px 15px;" type="text" placeholder="Enter Email" name="emailId" required>

            <label for="psw"><b>Password</b></label>
            <input style="border-radius: 15px 15px 15px 15px;" type="password" placeholder="Enter Password" name="newPassword" required>

            <label for="psw"><b>Re-Password</b></label>
            <input style="border-radius: 15px 15px 15px 15px;" type="password" placeholder="Enter Re-Password" name="confirmPassword" required>
                
            <button style="border-radius: 15px 15px 15px 15px;" type="submit">Change Password</button>
            <label>
              
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <a href="{{url_for('wellnessCenterPage')}}">Cancel</a>
          <span class="psw">Forgot <a href="{{url_for('wellnessHsForgotPasswordPage')}}">Password?</a></span>
        </div>

      </form>

</div> 



</body>
</html>